ExecStart={ path=/usr/bin/rclone ; argv[]=/usr/bin/rclone mount ultracc:downloads /mnt/ultra-media --config=/home/debian/.config/rclone/rclone.conf --allow-other --umask 000 --vfs-cache-mode full --vfs-cache-max-size 20G --vfs-cache-max-age 24h --attr-timeout 1000h --vfs-read-chunk-size 32M --vfs-read-chunk-size-limit 1G --buffer-size 64M --vfs-read-ahead 256M --no-modtime --no-checksum --fast-list --transfers 2 --checkers 4 --log-level INFO --log-file /tmp/rclone-ultra.log --dir-cache-time 15m --poll-interval 15m ; ignore_errors=no ; start_time=[Fri 2026-07-17 09:28:37 UTC] ; stop_time=[n/a] ; pid=464165 ; code=(null) ; status=0/0 }
